# Copy to .env (same folder) and fill if you want to override defaults found in the project
FIREBASE_API_KEY=AIzaSyBVtq6dAEuybJNmTTv8dXBxTVUgw1t0ZMk
FIREBASE_PROJECT_ID=cusumano-website
FIREBASE_STORAGE_BUCKET=cusumano-website.appspot.com
